Source: wazo-debug
Section: python
Priority: extra
Maintainer: Wazo Maintainers <dev+pkg@wazo.community>
Build-Depends: debhelper (>= 9), dh-python, python3-all, python3-setuptools
Standards-Version: 3.9.6
X-Python3-Version: >= 3.4

Package: wazo-debug
Architecture: all
Depends:
 ${python3:Depends},
 ${misc:Depends},
 coreutils,
 openssh-client,
 python3-cliff,
 python3-requests (>= 2.4.3),
 tcpdump,
 wazo-auth-client-python3,
 wazo-call-logd-client-python3,
 wazo-calld-client-python3,
 wazo-webhookd-client-python3,
 whiptail
Description: Wazo debug scripts
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
